/* Scenarios--Tags network page at /network => scenarios#network */

/* draggable boxes */
.scenarios { }
.scenario_object { display:inline-block; position:absolute; background:white; border: 1px solid; padding: 5px; margin: 5px; text-align:left; max-width: 200px; }
.scenario_object .steps { width: 400px; text-align: left; border: 1px solid; background:silver; font-size: 75%;}
.scenario_object .steps_link {background-color: silver; height: 5px; width:auto;}
.tags { }
.tag_object { display:inline-block; position:absolute; background:white; padding: 5px; margin: 5px; text-align:center; max-width: 300px; 
  font-weight: bold; font-size: 18px;}

#canvas { position:absolute; display:inline-block; top:20px; left:0; }

.modify_bar { border-left: solid 1px; float:right; height: 100%; }

.scenario_object .info { margin-right: 20px; }
