/* Scenarios--Tags network page at /network => scenarios#network */

/* draggable boxes */
.scenarios { }
.scenario_object { display:inline-block; position:absolute; border: 1px solid; padding: 5px; margin: 5px; }

.tags { }
.tag_object { display:inline-block; position:absolute; border: 1px solid; padding: 5px; margin: 5px; }

#canvas { position:absolute; display:inline-block; top:0; left:0; width:1600px; height:1400px; }
